<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>
<div class="list-group">
	    {% for file in files %}
		    <a class="list-group-item" href="{{ 'http://' + ip + '/download/' + file }}">
			    {{ file }}
		    </a>
	    {% endfor %}
</div>
